files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/12_add_nginx_configuration.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      /bin/echo "client_max_body_size 25M;" > /etc/nginx/conf.d/proxy.conf
      /bin/echo "client_body_buffer_size 16k;" >> /etc/nginx/conf.d/proxy.conf
      /bin/echo "types_hash_max_size 2048;" >> /etc/nginx/conf.d/proxy.conf
      /bin/echo "types_hash_bucket_size 128;" >> /etc/nginx/conf.d/proxy.conf
      /sbin/service nginx reload
